client/Temp/*
client/Library/*
client/Build/*
!client/Library/*.asset
client/*.pidb
client/*.userprefs
client/Assembly-*
client/*.sln
client/obj

launcher/Temp/*
launcher/Library/*
launcher/Build/*
!launcher/Library/*.asset
launcher/*.pidb
launcher/*.userprefs
launcher/Assembly-*
launcher/*.sln
launcher/obj

*.log
/builds/
unit_results.xml
*.pdb
*.suo
*.user
TestResults/
opencover.xml
CodeCoverage/
.sonar/
